* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header {
  background: #ffffff;
  padding: 16px 120px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  color: blue;
}

button {
  background: #1f7a4f;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 6px;
}

button:hover {
  background: red;
}