* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.header {
  background: #ffffff;
  padding: 16px 120px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}


.nav-links a {
  text-decoration: none;
  color: #333;
}


.nav-links a:hover {
  color: blue;
}


button {
  background: #1f7a4f;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
}


button:hover {
  background: red;
}

.button2 {
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.button2:hover {
  background: red; 
  color: white;
}

.hero {
  height: 90vh;
  background:
  linear-gradient( rgba(15, 23, 42, 0.45),rgba(15, 23, 42, 0.45)), url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hf {
  font-size: 56px;
  font-weight: 600;
}

.hs {
  font-size: 56px;
  font-weight: 600;
  color: #30B868;
}

.hero-content {
  max-width: 800px;
}

.badge {
  background: white;
  color: #30B868;
  padding: 8px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
}

